doctype html
html
	head
		title Sass management
		meta(charset="utf-8")
		link(rel="stylesheet", href="style.css")
	body
		.btn.btnGrey.large 測試按鈕
		.btn.btnYellow.middle 測試按鈕
		.btn.btnBlack.middle 測試按鈕
		.btn.btnRed.small 測試按鈕