doctype html
html
	head
		title Sass loop and content
		meta(charset="utf-8")
		link(rel="stylesheet", href="../css/style.css")
	body
		.present
			// 蓋子 
			.cap
			// 垂直緞帶 
			.virtical_ribbon
			// 水平緞帶 
			.horizontal_ribbon

		// 一次生50個禮物盒而且利用$標號 .present$*50>.cap+.virtical_ribbon+.horizontal_ribbon  
		.present1
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present2
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present3
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present4
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present5
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present6
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present7
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present8
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present9
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present10
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present11
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present12
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present13
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present14
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present15
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present16
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present17
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present18
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present19
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present20
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present21
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present22
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present23
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present24
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present25
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present26
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present27
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present28
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present29
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present30
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present31
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present32
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present33
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present34
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present35
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present36
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present37
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present38
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present39
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present40
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present41
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present42
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present43
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present44
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present45
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present46
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present47
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present48
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present49
			.cap
			.virtical_ribbon
			.horizontal_ribbon
		.present50
			.cap
			.virtical_ribbon
			.horizontal_ribbon