doctype html
html
	head
		title Animation Practice
		link(rel="stylesheet", href="../css/style.css")
	body
		.box
			.block.block1
			.block.block2
			.block.block3
			.block.block4
			.block.block5