doctype html

html
	head
		meta(charset="utf-8")
		title Personal Page
		link(rel="stylesheet", href="../css/style.css")
	body
		.phone
			.top
			.bottom
				.head_pic
					//- 希望name針對頭貼左上角定位比較好用, 所以寫在他裡邊
					.name TieTie