body {
	height: 20000px;
}

div {
	border: solid 2px;
	width: 200px;
	height: 100px;
}

/**
 * 自動排列下來
 * 偏移無效
 * 要動位置要靠外距來製造假象
 * 排版系統內
 */
.static {
	/*position: static; 預設*/
	left: 30px; /* 偏移無效 */
	/* margin-left: 30px;  /* 要動外距來排開位置 */ 
}

/**
 * 自動排列下來
 * 偏移有效 : 根據"原位置"偏移
 * 排版系統內
 *
 * 另外 用relative偏移不會影響其他元素的排列
 * 但若要依賴網頁自動排列, 反而會用padding, margin來互相擠元素的排列
 */
.relative {
	position: relative;
	left: 30px; /* 偏移有效 (距離(遠離)左邊30px  也就是在原位置的左框線處右邊30px的地方) */ 
}

/**
 * 偏移有效 : 根據"頁面左上角(原點)"偏移
 * 要特別注意  要針對"特定元素的左上角(那個元素的原點)"做定位時  那此元素就是父容器 而且要是可定位的position(relative, absolute, flexed) 否則就會不斷往祖先找 找到是可以定位的元素
 * 排版系統外
 */
.absolute {
	position: absolute;
	right: 50px; /* 偏移有效 (距離(遠離)左邊30px  也就是在原位置的左框線處右邊30px的地方) */ 
	top: 50px;
}

/**
 * 偏移有效 : 根據"螢幕視窗左上角(原點)"偏移 (所以不會動 感覺不管你滾動到哪都跟著你)
 * 排版系統外
 */
.fixed {
	position: fixed;
	right: 50px; /* 偏移有效 (距離(遠離)左邊30px  也就是在原位置的左框線處右邊30px的地方) */ 
	top: 100px;
}