doctype html
html
	head
		title Transition Practice
		link(rel="stylesheet", href="../css/style.css")
	body
		.cross
			.line1
			.line2
		.block
			h1 Title
			p content content content content content